// Table User List css
// Created by Hung dev
// 07/11/2023
.table_WAITING {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 0.25rem 1rem;
    color: rgb(183, 110, 0);
    background-color: rgba(255, 171, 0, 0.16);
    border-radius: 6px;
    font-family: "Public Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
}

.table_COMPLETED {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 0.25rem 1rem;
    color: rgb(17, 141, 87);
    background-color: rgba(34, 197, 94, 0.16);
    border-radius: 6px;
    font-family: "Public Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
}

.table_CANCELED {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 0.25rem 1rem;
    color: rgb(183, 29, 24);
    background-color: rgba(255, 86, 48, 0.16);
    border-radius: 6px;
    font-family: "Public Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
}

.table_REJECTED {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 0.25rem 1rem;
    color: rgb(99, 115, 129);
    background-color: rgba(145, 158, 171, 0.16);
    border-radius: 6px;
    font-family: "Public Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
}

.table_DELIVERING {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 0.25rem 1rem;
    color: rgb(0, 110, 183);
    background-color: rgba(0, 157, 255, 0.16);
    border-radius: 6px;
    font-family: "Public Sans", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
}

.link_id a {
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    &:hover {
        line-height: 1.57143;
        font-size: 0.875rem;
        font-family: "Public Sans", sans-serif;
        font-weight: 400;
        color: black;
        text-decoration: underline;
    }
}

.cover_cus_info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.cover_cus_avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}

.cover_cus_name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.57143;
    font-size: 0.95rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
}

.cus_phoneNumber {
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: rgb(145, 158, 171);
}

.user_createdDate {
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: black;
}

.user_items {
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: black;
}

.user_totalPrice {
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: black;
}

.cover_table_userlist .ant-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    & li {
        font-size: 0.875rem !important;
        font-family: "Public Sans", sans-serif !important;
    }
}

.cover_item_user_collapsed {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    box-shadow: none;
    background-image: none;
    margin: 12px;
    border: groove 1px;
    padding: 1rem !important;
}

.cover_img_product_name_category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.cover_product_name_category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cover_user_collapsed_quantity {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cover_user_collapsed_price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user_collapsed_product_name {
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
}

.user_collapsed_category {
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: rgb(145, 158, 171);
}

.user_collapsed_quantity {
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
}

.user_collapsed_price {
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
}

.cover_img_user_collapsed {
    width: 3rem;
    height: 3rem;
}

.img_user_collapsed {
    border-radius: 8px;
}

.btn_collapsed_user {
    border: none;
    border-radius: 100%;
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    &:hover {
        background-color: rgb(239, 239, 239);
    }
    &:active {
        background-color: rgb(222, 222, 222);
    }
}