.custom_row {
  margin: 0;
  padding: 0;
}

.custom_col {
  margin: 0;
  padding: 0;
}

.title_create_order_online {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  font-family: "Public Sans", sans-serif;
}

.cover {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12);
  border-radius: 16px;
  padding: 24px;
}

.customer {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  font-family: "Public Sans", sans-serif;
}