body{
    background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
}
.layout{
  background-color: #fff;
  height: 800px;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.8;
}