.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.3);
}

.btn_add_shipping {
  margin-top: 0.5rem;
  background-color: rgb(0, 167, 111);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgb(0, 167, 111) !important;
    opacity: 0.8;
  }
}

.add_shipping {
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
}
