.table_WAITING {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 0.25rem 1rem;
  color: rgb(183, 110, 0);
  background-color: rgba(255, 171, 0, 0.16);
  border-radius: 6px;
  font-family: "Public Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
}

.table_COMPLETED {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 0.25rem 1rem;
  color: rgb(17, 141, 87);
  background-color: rgba(34, 197, 94, 0.16);
  border-radius: 6px;
  font-family: "Public Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
}

.table_CANCELED {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 0.25rem 1rem;
  color: rgb(183, 29, 24);
  background-color: rgba(255, 86, 48, 0.16);
  border-radius: 6px;
  font-family: "Public Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
}

.table_REJECTED {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 0.25rem 1rem;
  color: rgb(99, 115, 129);
  background-color: rgba(145, 158, 171, 0.16);
  border-radius: 6px;
  font-family: "Public Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
}

.table_DELIVERING {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 0.25rem 1rem;
  color: rgb(0, 110, 183);
  background-color: rgba(0, 157, 255, 0.16);
  border-radius: 6px;
  font-family: "Public Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
}

.link_id a {
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;

  &:hover {
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: black;
    text-decoration: underline;
  }
}

.cover_cus_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.cover_cus_avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}

.cover_cus_name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  line-height: 1.57143;
  font-size: 0.95rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}

.cus_email {
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  color: rgb(145, 158, 171);
}

.order_createdDate {
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  color: black;
}

.order_items {
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  color: black;
}

.order_totalPrice {
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  color: black;
}
