@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Extra+Condensed:wght@300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-radio-checked .ant-radio-inner {
  border-color: rgb(0, 167, 111) !important;
  background-color: rgb(0, 167, 111) !important;
}

.ant-radio-checked .ant-radio-inner:after {
  border-color: rgb(0, 167, 111) !important;
  /* background-color: rgb(0, 167, 111) !important; */
}

.ant-radio:hover .ant-radio-inner {
  border-color: rgb(0, 167, 111) !important;
  /* background-color: rgb(0, 167, 111) !important; */
}

.ant-radio:hover {
  border-color: rgb(0, 167, 111) !important;
  /* background-color: rgb(0, 167, 111) !important; */
}

.ant-radio-checked .ant-radio-inner:focus {
  border-color: rgb(0, 167, 111) !important;
  background-color: rgb(0, 167, 111) !important;
}

/* .ant-input-number input {
  text-align: right !important;
  font-weight: 600 !important;
  line-height: 1.5 !important;
  font-size: 1rem !important;
  font-family: "Public Sans", sans-serif !important;
  border: none !important;
  border-radius: 0 !important;
}

.ant-input-number,
.ant-input-number-input-wrap {
  border: none !important;
  border-radius: 0 !important;
} */

/* .ant-input-number input:hover,
.ant-input-number input:focus {
  text-align: right !important;
  font-weight: 600 !important;
  line-height: 1.5 !important;
  font-size: 1rem !important;
  font-family: "Public Sans", sans-serif !important;
  border: solid black 1px !important;
} */