.slide{
    width: 200px;
    white-space: nowrap;
    height: 100vh;
    background-color: antiquewhite
}
.menu-slide>li>a{
    text-decoration: none;
    color: inherit;
}
.menu-slide>li {
    color: #737791;
    padding: 16px 0px;
}
.menu-slide >li>a:hover,.menu-slide>li> .active{
    background-color: #5D5FEF;
    color: #FFFFFF;
}