.slide {
  background-color: #fff;
  
}
.menu-slide{
  height: calc(100vh - 61px);
  width: 220px;
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
}

&::-webkit-scrollbar {
    width: 2px;
    background-color: #fff;
}

&::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;
}
    li {

        color: #737791;
        padding: 10px 0px;
        a{
            border-radius: 10px;
            gap: 5px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10px;
            
        }
      }
  }
.menu-slide > li > a:hover,
.menu-slide > li > .active {
  background-color: #5d5fef;
  color: #ffffff;
}
.sub-menu {
  width: 190px;
  margin-top: 5px;
  margin-bottom: -25px;
  margin: 10px 0px -10px 0;
  padding: 5px;
  border-radius: 10px;
  background-color: #ededed;
  
  .sub-list {
    padding: 5px 0;
    a {
        
      &:hover {
        background-color: #5d5fef;
        color: #ffffff;
      }
    }
    .active {
        background-color: #5d5fef;
        color: #ffffff;
      }
  }
  
}

// Media
@media only screen and (max-width: 1024px) {
  .slide {
    position: fixed;
    z-index: 10;
    top: 60px;
    left: 0;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: width 0.5s ease;
    

  }
  .active {
    width: 220px;
    overflow-y: auto;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #fff;
    }
    
    &::-webkit-scrollbar {
        width: 2px;
        background-color: #fff;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #2f2f2f;
    }
  }
}
